{% extends 'base_ouverture_compte.html.twig' %}

{% block column_size %}<div class="col-12 col-md-12">{% endblock %}

    {% block content %}
        <div style="">
            <p class="text-subtitle">{{ explication | raw }}</p>
        </div>
        <form method="post">
            {{ form_start(form) }}

            <div class="d-flex">
                <div class="ml-4 flex-grow-1">
                    {{ form_row(form.motDePasse) }}
                </div>
            </div>

            {{ form(form) }}
        </form>
    {% endblock %}
