{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 offset-md-2 mt-3">
                <div class="row">
                    <div class="col"><h2 class="secondary-color mb-4"> {{"Aide" | trans }} </h2></div>
                </div>

                <div class="row">
                    <div class="col">
                        <p class="text-semi-bold"> Pour toute question sur votre compte Eusko, contactez-nous :<br />
                            - par téléphone au 05 33 47 54 11, du lundi au vendredi, de 9h à 13h ou de 14h à 17h<br />
                            - en écrivant à support@euskalmoneta.org
                            <br /><br />
                            Merci de nous communiquer dans votre demande votre numéro d'adhérent : {{ app.user }}</p>
                    </div>
                </div>


            </div>
        </div>
    </div>

{% endblock %}

