@font-face {
    font-family: "Montserrat";
    src: url("../webfonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat-bold";
    src: url("../webfonts/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat-semi-bold";
    src: url("../webfonts/Montserrat-SemiBold.ttf") format("truetype");
}
body{
    font-family: 'Montserrat', Arial, sans-serif;
    color: #47525E;
    font-weight: normal;
    letter-spacing: normal;
    font-size: 13px;
}
.bg-eusko {
    background-color: #41A528 !important;
}
.navbar{
    padding: 0.4rem 0.9rem;
    color: white;
    font-size: 0.765625rem;
    text-transform: none;
    font-weight: normal;
}
.cel-menu-icon{
    font-size: 24px;
    color: white;
}
.navbar-right a {
    color: white;
    display: inline-block;
    text-align: center;
    margin-left: 15px;
    font-size: 12px;
}
.navbar-right a i{
    padding-bottom: 5px;
}
h1, h2, h3, h4, h5, h6 {
    text-transform: none;
    letter-spacing: 0;
}
h2 {
    font-size: 14px;
}
h3 {
    font-size: 13px;
}
.text-bold { font-family: 'Montserrat-bold', Arial, sans-serif;}
.text-semi-bold { font-family: 'Montserrat-semi-bold', Arial, sans-serif;}
.big-solde{
    font-size:34px;
    font-family: 'Montserrat-bold', Arial, sans-serif;
    margin-top: -5px;
}
.secondary-color { color: #969FAA; }
.main-color { color: #47525E; }
.green { color: #41A528; }
.eusko-cart{
    width: auto;
    max-width: 380px;
    height: 150px;
    border: 1px solid #969FAA;
    border-radius: 15px;
}
.btn{
    letter-spacing: normal;
    text-transform: none;
    padding: 0.5rem 1.5rem;
}

[class*="btn-outline-"] {
    border-width: 1px;
}
.eusko-btn {
    padding: 0.3rem 0.3rem;
}

.prix{
    font-size: 13px;
    font-family: 'Montserrat-bold', Arial, sans-serif;
}

.icon-round{
    background-color: #E9ECEF;
}
.fa-stack { font-size: 1.5em; }
.fa-stack .fa-circle{
    color: #F4F2F2;
}

i { vertical-align: middle; }
.footer {
    border-top: 1px solid #E8E8E8;
    background-color: white;
    color: #C0CCDA;
    text-align: center;
    height: 60px;
}
main{
    margin-top: 60px;
    margin-bottom: 60px;
}
.footer i{
    font-size: 24px;
    color: #C0CCDA;
}
.footer img{
    width: 30px;
}
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
.form-group label{
    color: #47525E;
    font-family: 'Montserrat-bold', arial, sans-serif;
}
label.required:before {
    content: "*";
}

.before-footer{
    margin-bottom: 60px;
}
.btn-slim{
    padding: 0.5rem 1.5rem;
    line-height: 0.5rem;
}
.btn-primary {
    color: #fff;
    background-color: #47525E;
    border-color: #47525E;
}
.btn-primary:hover {
    color: #fff;
    background-color: #2e3742;
    border-color: #2e3742;
}
.table th, .table td {
    padding: 0.75rem;
    vertical-align: middle;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 0;
}