{% extends 'base_ouverture_compte.html.twig' %}

{% block content %}
    <div class="col pl-4">
        {% include 'asso/explication-3-pourcent.html.twig' %}
    </div>

    {{ form(form) }}
{% endblock %}
