{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 offset-md-2 mt-1">
                <h2 class="secondary-color mb-2">{{ 'Profil' | trans }} >  {{ 'Coordonnées' | trans }}</h2>

                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script type="text/javascript">

        $('.basicAutoComplete').autoComplete({
            resolverSettings: {
                url: '{{ path('app_ajex_zipcode_search') }}'
            }
        });

        $('.basicAutoComplete').bind('autocomplete.select', function() {
            var ziptown = $("#form_zip").val().split('--');
            $("form_zip").val(ziptown[0]);
            $(this).val(ziptown[0]);
            $('#form_town').val(ziptown[1]);
        });



    </script>
{% endblock %}