{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-sm-12 col-md-8 offset-md-2 mt-3">
                <h1 class="secondary-color mb-0"> {{ "Bon plans" | trans }}</h1>

                <div class="row">
                    {% for bonplan in bonsplans %}
                    <div class="col-md-6 col-sm-12">
                        <div class="main-carousel pt-3 mb-4">
                            <a href="{{ path('app_bons_plans_show', {'id': bonplan.id} ) }}">

                                <img src="{{ asset(bonplan.getWebPath) }}" class="d-block w-100" alt="" />

                            </a>
                        </div>

                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}
