{% extends 'base.html.twig' %}

{% block title %}{{ "Fermeture compte" | trans }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 mt-4">
                <div class="mt-md-4">
                    <div style="">
                        <h1 class="mb-3">{{ "Fermeture compte" | trans }}</h1>
                        <p class="text-subtitle">{{ "Vos vacances sont finies ? Merci pour votre utilisation de l'eusko. Que voulez vous faire avec les eusko qui restent sur votre compte ?" | trans }}</p>


                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script type="text/javascript">

    </script>
{% endblock %}

