{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-sm-12 col-md-8 offset-md-2 mt-3">
                <div>{{ "Bon plans" | trans }}</div>
                <h1 class="mb-3"> Visite du chateau de Bidache </h1>
                <p class="text-subtitle"> Bénéficiez d'une réduction à moitié prix si vous achetez votre billet en eusko.</p>


                <div class="row">
                    <div class="col-md-4">
                        <img src="http://www.tourisme-pays-de-bidache.com/wp-content/uploads/Ch%C3%A2teau-de-Bidache-cours-nord-768x512.jpg" width="100%"/>
                    </div>
                    <div class="col-md-8"><p>Le majestueux château de Bidache, classé Monument Historique, vous ouvre ses portes pour se révéler sous un autre jour, consolidé et embelli, après 10 ans de fermeture pour travaux de restauration. Voyagez à travers 6 siècles d’histoire et d’architecture et admirez du haut du donjon du 15ème siècle un panorama unique à 360° sur la vallée de la Bidouze et la chaîne des Pyrénées.</p></div>
                </div>

                <p>
                    <span style="font-size: 14pt;">Horaires des visites</span>&nbsp;&nbsp;</strong><em>(Visites guidées uniquement/pas de visites en accès libre)</em></p>
                <p><strong><span style="color: #333399;">Vacances Pâques et Toussaint (toutes zones)</span> :</strong><br>
                    Visite classique&nbsp;: mercredi 11h, samedi 16h.<br>
                    Visites familiales : mercredi et jeudi, à 16h.</p>
                <p><strong><span style="color: #333399;">Mai, septembre</span></strong> : mercredi et samedi à 16h.<br>
                    Le 1er mai 17h. Le 22 mai, 11h et 16h.</p>
                <p><strong><span style="color: #333399;">Juin, octobre</span></strong> : samedis 16h.</p>
                <p><span style="color: #333399;"><strong>Juillet- août</strong></span>&nbsp;:<br>
                    Du 1er au 05 juillet : samedis 16h.<br>
                    Du 06 au 18 juillet : du mardi au samedi à 16h.<br>
                    Du 20 juillet au 22 août : le mardi, 11h et 15h30. Du mercredi au samedi, 11h, 15h30, 17h.<br>
                    Du 25 au 29 août : du mardi au samedi à 16h.</p>
                <p><strong><span style="color: #333399;">Semaine Sainte&nbsp;: visite en espagnol</span></strong><br>
                    Mardi et vendredi à 17h</p>
                <p><strong><span style="color: #333399;">Nocturnes aux flambeaux</span></strong><br>
                    Du 21 juillet au 25 août, les mardis soirs à 21h.</p>
                <p><strong><span style="font-size: 14pt;"><br>
Tarifs&nbsp;</span></strong></p>
                <ul>
                    <li>Adulte : 5€</li>
                    <li>Enfant (- de 13 ans) : gratuit</li>
                    <li>Étudiant (sur présentation de la carte étudiante), jeunes (13-18 ans), demandeurs d’emploi (sur présentation de la carte), personnes à mobilité réduite, 2,5€.</li>
                    <li><strong>Tarif réduit :</strong><br>
                        -Sur présentation du <a href="http://www.tourisme-pays-de-bidache.com/abbayes-partenaires/">pass patrimoine</a> et des billets d’entrée d’un de ces sites <span style="font-size: 10pt;"><em>(Abbaye d’Arthous ou Monastère de Sorde l’Abbaye ou la Dame de Brasempouy).<br>
</em></span>&nbsp; &nbsp; &nbsp; -Sur présentation du passeport «&nbsp;La Route Historique&nbsp;» tamponné.<br>
                        <strong>Tarif groupes :<br>
                        </strong>&nbsp; &nbsp; &nbsp; -Groupes adultes (à partir de 15 pers payantes) : 3€/pers<br>
                        -Groupes scolaires, étudiants : jusqu’à 15 enfants forfait de 45€ et au delà de 15 enfants, 2,5€/enfant.</li>
                </ul>
                <p style="text-align: left;"><span style="font-size: 12pt;"><em>Esplanade devant le château en accès libre (piétons uniquement), avec possibilité d’observer la situation stratégique qu’occupe le château, les anciennes écuries, et&nbsp;la façade principale avec ses diverses époques architecturales.<br>
</em></span><span style="font-size: 12pt;"><em>Accès sur l’esplanade autorisé en voiture sur demande à l’Office de Tourisme, uniquement lors des visites guidées, pour les Personnes à Mobilité Réduite. Chiens acceptés en laisse.</em></span><strong>

                </p>

            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
    </script>
{% endblock %}
