@font-face {
    font-family: "Montserrat";
    src: url("../webfonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat-light";
    src: url("../webfonts/Montserrat-Light.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat-bold";
    src: url("../webfonts/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat-semi-bold";
    src: url("../webfonts/Montserrat-SemiBold.ttf") format("truetype");
}
body{
    font-family: 'Montserrat', Arial, sans-serif;
    color: #47525E;
    font-weight: normal;
    letter-spacing: normal;
    font-size: 14px;
}
.bg-eusko {
    background-color: #41A528 !important;
}
.bg-partenaire {
    background-color: #BE2A5B !important;
}
.navbar{
    padding: 0.4rem 0.9rem;
    color: white;
    font-size: 0.765625rem;
    text-transform: none;
    font-weight: normal;
}
.cel-menu-icon{
    font-size: 24px;
    color: white;
}
.navbar-right a {
    color: white;
    display: inline-block;
    text-align: center;
    margin-left: 20px;
    font-size: 12px;
}
.navbar-right a i{
    padding-bottom: 5px;
}
h1, h2, h3, h4, h5, h6 {
    text-transform: none;
    letter-spacing: 0;
    color: #1B1B1B;
}
h2 {
    font-size: 26px;
    /*text-transform: uppercase;*/
}
h3 {
    font-family: Montserrat-semi-bold, sans-serif;
    font-size: 15px;
}
strong{
    font-family: Montserrat-semi-bold, sans-serif;
    font-size: 15px;
}
.col-form-label {
    padding-top: calc(0.75rem + 0px);
    padding-bottom: calc(0.75rem + 0px);
    margin-bottom: 0;
    font-size: 22px;
    line-height: 1.5;
}
legend {
    font-family: Montserrat, sans-serif;

}
.text-bold { font-family: 'Montserrat-bold', Arial, sans-serif;}
.text-semi-bold { font-family: 'Montserrat-semi-bold', Arial, sans-serif;}
.text-light { font-family: 'Montserrat-light', Arial, sans-serif;}
.title-light { color: #92949D; font-family: 'Montserrat-light', Arial, sans-serif; text-transform: uppercase;}
.big-solde{
    font-size:34px;
    font-family: 'Montserrat-bold', Arial, sans-serif;
    margin-top: -5px;
}
.secondary-color { color: #6A7179; }
.main-color { color: #47525E; }
.green { color: #41A528; }
.threeper {
    background-color: #41A528;
    color: white;
}
.threepermain {
    font-size: 22px;

}
.threepersecond {
    font-size: 16px;
    color: white;
}
.sur-titre-ouverture{
    font-size: 23px;
    color: #41a528;
    text-transform: uppercase;
}
.text-muted {
    color: #7b848a !important;
}

.eusko-cart{
    width: auto;
    max-width: 380px;
    /*height: 150px;*/
    /*border: 1px solid #969FAA;*/
    border-radius: 9px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);

}
.btn{
    letter-spacing: normal;
    text-transform: none;
    padding: 0.5rem 1.5rem;
}
.btn-slim{
    padding: 0.5rem 1.5rem;
    line-height: 0.5rem;
}
.btn-primary {
    color: #fff;
    background-color: #47525E;
    border-color: #47525E;
}
.btn-primary:hover {
    color: #fff;
    background-color: #2e3742;
    border-color: #2e3742;
}
.btn-outline-white {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}
.btn-outline-white:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}
.btn-outline-primary {
    color: #47525E;
    background-color: #fff;
    border-color: #47525E;
}.btn-outline-primary:hover {
    color: #fff;
    background-color: #47525E;
    border-color: #47525E;
}
.btn-berdea {
    padding: 0.5rem 3rem;
    color: #fff;
    background-color: rgb(26, 131, 15);
    border-color: rgb(26, 131, 15);
}
.btn-berdea:hover {
    cursor: pointer;
    color: #fff;
    background-color: rgb(21, 106, 12);
    border-color: rgb(26, 131, 15);
}
button.btn-primary{
    color: #fff;
    background-color: #41A528;
}
button.btn-primary:hover{
    color: #fff;
    background-color: #29871b;
}
[class*="btn-outline-"] {
    border-width: 1px;
}
.eusko-btn {
    padding: 0.3rem 0.3rem;
}
small{
    font-size: 90%;
}
.text-subtitle{
    font-size: 1rem;
}

.prix{
    font-size: 13px;
    font-family: 'Montserrat-bold', Arial, sans-serif;
}

.icon-round{
    background-color: #E9ECEF;
}
.fa-stack { font-size: 1.5em; }
.fa-stack .fa-circle{
    color: #F4F2F2;
}
.fa-inverse {
    color: #2e3742;
}

i { vertical-align: middle; }
.footer {
    border-top: 3px solid #F0F0F0;
    background-color: white;
   color: #1b1b1b;
    text-align: center;
    height: 60px;
    padding-top: 6px;
}
.footer a{
    font-family: Montserrat-semi-bold, Serif;
    font-size: 12px;
}
main{
    margin-top: 60px;
    margin-bottom: 60px;
}
.footer i{
    font-size: 28px;
    color: #1b1b1b;
}
.footer img{
    width: 28px;
}
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
.form-group label{
    color: #47525E;
    font-family: 'Montserrat-bold', arial, sans-serif;
}
label.required:before {
    content: "*";
}

.before-footer{
    margin-bottom: 60px;
    z-index: 1;
}
.chosen-container{
    z-index: 10;
}

.table-success td, .table-success th{
    color: #000;
}
.table-danger td, .table-danger th{
    color: #000;
}
.table th, .table td {
    padding: 0.75rem;
    vertical-align: middle;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 0;
}
.form-check-label.required::before {
    content: "";
}
.form-check {
    padding-top: 20px;
}
.nav-pills.nav-tabs-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.nav-pills.nav-tabs-btn .nav-item {
    max-width: 100%;
    min-width: 75px;
    margin: 0.5rem;
    -webkit-box-shadow: rgba(69, 65, 78, 0.06) 0px 1px 15px 1px;
    box-shadow: rgba(69, 65, 78, 0.06) 0px 1px 15px 1px;
    border-radius: 0.5rem;
    text-align: center;
}
.nav-pills.nav-tabs-btn .nav-item .nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.85rem 0.75rem;
}
.pills-btn-brand a.nav-link.active {
    background-color: #41A528;
}
.nav-pills .nav-item .nav-link.active, .nav-pills .nav-item .nav-link:active, .nav-pills .nav-item .nav-link:hover, .nav-tabs .nav-item .nav-link.active, .nav-tabs .nav-item .nav-link:active, .nav-tabs .nav-item .nav-link:hover {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.btn-success {
    color: #fff;
    background-color: #41A528;
}
div.vertical-line{
    width: 4px;
    background-color: #f4f2f2;
    height: 25px;
    margin-left: 18px;
    margin-bottom: 15px;
}

.waiting {
    animation: pulse 1s infinite;
}
@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
#1b1b1b
div.vertical-line{
    width: 4px;
    background-color: #f4f2f2;
    height: 25px;
    margin-left: 18px;
    margin-bottom: 15px;
}

.waiting {
    animation: pulse 2s infinite;
}
@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
a{font-weight: 700;}
.text-subtitle{
    font-size: 15px;
}
.custom-file-input:lang(es) ~ .custom-file-label::after {
    content: "Selectar";
}
.custom-file-input:lang(fr) ~ .custom-file-label::after {
    content: "Parcourir";
}
/* position outside */
.flickity-prev-next-button.previous {
    left: -40px;
}
.flickity-prev-next-button.next {
    right: -40px;
}
.carousel-cell {
    width: 100%; /* full width */
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel.is-fullscreen .carousel-cell {
    height: 100%;
}

.carousel-cell img {
    display: block;
    max-height: 100%;
}

.rangeslider,
.rangeslider__fill {
    display: block;
    -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.rangeslider {
    background: #e6e6e6;
    position: relative;
}

.rangeslider--horizontal {
    height: 20px;
    width: 100%;
}

.rangeslider--vertical {
    width: 20px;
    min-height: 150px;
    max-height: 100%;
}

.rangeslider--disabled {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4;
}

.rangeslider__fill {
    background: #41A528;
    position: absolute;
}
.rangeslider--horizontal .rangeslider__fill {
    top: 0;
    height: 100%;
}
.rangeslider--vertical .rangeslider__fill {
    bottom: 0;
    width: 100%;
}

.rangeslider__handle {
    background: white;
    border: 1px solid #ccc;
    cursor: pointer;
    display: inline-block;
    width: 40px;
    height: 40px;
    position: absolute;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.rangeslider__handle:after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEzIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.13)), color-stop(100%, rgba(255, 255, 255, 0)));
    background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
    background-image: linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.rangeslider__handle:active, .rangeslider--active .rangeslider__handle {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.12)));
    background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
}
.rangeslider--horizontal .rangeslider__handle {
    top: -10px;
    touch-action: pan-y;
    -ms-touch-action: pan-y;
}
.rangeslider--vertical .rangeslider__handle {
    left: -10px;
    touch-action: pan-x;
    -ms-touch-action: pan-x;
}

input[type="range"]:focus + .rangeslider .rangeslider__handle {
    -moz-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
    -webkit-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
    box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
}


/********** SPINNER  */
@keyframes ldio-x8uv5a6ulc {
    0% { opacity: 1 }
    100% { opacity: 0 }
}
.ldio-x8uv5a6ulc div {
    left: 94px;
    top: 48px;
    position: absolute;
    animation: ldio-x8uv5a6ulc linear 1.408450704225352s infinite;
    background: #346c85;
    width: 12px;
    height: 24px;
    border-radius: 4.08px / 4.08px;
    transform-origin: 6px 52px;
}.ldio-x8uv5a6ulc div:nth-child(1) {
     transform: rotate(0deg);
     animation-delay: -1.2910798122065725s;
     background: #346c85;
 }.ldio-x8uv5a6ulc div:nth-child(2) {
      transform: rotate(30deg);
      animation-delay: -1.1737089201877933s;
      background: #346c85;
  }.ldio-x8uv5a6ulc div:nth-child(3) {
       transform: rotate(60deg);
       animation-delay: -1.056338028169014s;
       background: #346c85;
   }.ldio-x8uv5a6ulc div:nth-child(4) {
        transform: rotate(90deg);
        animation-delay: -0.9389671361502346s;
        background: #346c85;
    }.ldio-x8uv5a6ulc div:nth-child(5) {
         transform: rotate(120deg);
         animation-delay: -0.8215962441314553s;
         background: #346c85;
     }.ldio-x8uv5a6ulc div:nth-child(6) {
          transform: rotate(150deg);
          animation-delay: -0.7042253521126759s;
          background: #346c85;
      }.ldio-x8uv5a6ulc div:nth-child(7) {
           transform: rotate(180deg);
           animation-delay: -0.5868544600938966s;
           background: #346c85;
       }.ldio-x8uv5a6ulc div:nth-child(8) {
            transform: rotate(210deg);
            animation-delay: -0.4694835680751173s;
            background: #346c85;
        }.ldio-x8uv5a6ulc div:nth-child(9) {
             transform: rotate(240deg);
             animation-delay: -0.35211267605633795s;
             background: #346c85;
         }.ldio-x8uv5a6ulc div:nth-child(10) {
              transform: rotate(270deg);
              animation-delay: -0.23474178403755866s;
              background: #346c85;
          }.ldio-x8uv5a6ulc div:nth-child(11) {
               transform: rotate(300deg);
               animation-delay: -0.11737089201877933s;
               background: #346c85;
           }.ldio-x8uv5a6ulc div:nth-child(12) {
                transform: rotate(330deg);
                animation-delay: 0s;
                background: #346c85;
            }
.loadingio-spinner-spinner-3n6a06i025x {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #ffffff;
}
.ldio-x8uv5a6ulc {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-x8uv5a6ulc div { box-sizing: content-box; }
/* generated by https://loading.io/ */
/********** SPINNER  */
.iti__flag {background-image: url("../images/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag {background-image: url("../images/flags@2x.png");}
}
.iti {
    position: relative;
    display: block;
}
.consolas{
    font-family: 'Inconsolata', monospace, consolas;
    font-size: 18px;
}
.colored-tab div{
    padding-top: 4px;
    padding-bottom: 4px;
}
.colored-tab > div:nth-child(2n) {
    background-color: #f0f0f0;
}