/* Base variable */

$font-stack: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;

/* Custom styles */

#wrap {
  // TODO, fix those navbars on scroll!
  // top: 0px !important;
}

.topbar-brand-image {
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.topbar-right li, .disable-pointer-events {
  pointer-events: none;
}

.log-out, .enable-pointer-events {
  pointer-events: auto !important;
}

.navbar-right {
  padding-top: 5px
}

.navbar-content {
  height: 130px;
  padding-top: 75px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  background-color: #f8f8f8;
  border-bottom: 1px solid;
  border-bottom-color: #c3c3c3;
}

.navbar-content a {
  padding-top: 15px !important;
  padding-bottom: 17px !important;
}

.navbar-content a:hover, .navbar-content a:focus, .navbar-content .active {
  background-color: #f8f8f8 !important;
  border-bottom: 1px solid;
  border-bottom-color: #34d045;
}

.subnav {
  min-height: 40px;
  background-color: #f8f8f8;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.subnav a {
  color: #2c3e50;
  padding-top: 10px !important;
  padding-bottom: 7px !important;
}

.subnav a:hover, .subnav a:focus, .subnav .active {
  border-bottom: 0.7px solid;
  border-bottom-color: #2c3e50;
}

#first-time, #lost-password, #valid-token {
  margin-top: 100px;
}

.uppercase {
  text-transform: uppercase;
}

.cursor-pointer {
  cursor: pointer !important;
}

.lang-select-flag-fr {
  height: 14px;
  width: 20px;
}

body {
  overflow-x: hidden;
}

textarea {
  resize: none;
}

.container-eusko {
  margin-top: 15px;
  margin-bottom: 80px;
}

.navbar-header a:hover, .navbar-bdc-name, .navbar-bdc-name:hover {
  cursor: default;
  color: #fff !important;
}

.toast-top-right-navbar {
  margin-top: 90px;
}

.footer {
  border-top: solid 1px #CCCCCC;
  background-color: #f9f6f6;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.plus-sign {
  top: 2px;
}

.margin-top-ten {
  margin-top: 10px;
}

.margin-top {
  margin-top: 20px;
}

.margin-top-zero {
  margin-top: 0px;
}

.margin-right {
  margin-right: 5px;
}

.margin-left {
  margin-left: 3px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.font-weight-normal {
  font-weight: normal;
}

.btn-default {
  background-color: #ffffff;
  color: #95a5a6;
  border-color: #95a5a6;
}

.btn-default:hover {
  background-color: #95a5a6;
  color: #ffffff;
  border-color: #95a5a6;
}

.btn-inverse {
  color: red;
  background-color: white;
}

.btn-info-inverse, .btn-info-inverse:hover, .btn-info-inverse:active,  .btn-info-inverse:focus {
  color: #3498db;
  border-color: #3498db;
  background-color: white;
}

/* Beneficiaires List */
.react-bs-table-list-beneficiaires {
  margin-top: 10px !important;
  margin-right: 0px !important;
  margin-bottom: 5px !important;
  margin-left: 0px !important;
}

.search-beneficiaire {
  height: 40px !important;
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-size: 15px !important;
  padding: 10px;
}

/* BDCShow */
.bdc-show-panel {
  label {
    text-align: right;
  }
}

.bdc-status-text {
  margin-right: 5px;
}

.bdc-status-date {
  font-size: 15px;
}

.font-bdc-status {
  font-size: 20px;
  vertical-align: middle;
}

.bdc-status-ok {
  color: #21a31f;
  vertical-align: -1px;
  margin-right: 5px;
}

.bdc-status-nok {
  color: #e74c3c;
  vertical-align: -2px;
  margin-right: 5px;
}

.bdc-show-status {
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  vertical-align: middle;
}

.bdc-show-div-margin-left {
  margin-left: 50px;
}

// Adjust size for the "birthdate" field
.profilform-birth {
  .react-datepicker__input-container {
    display: block;
  }
}

// Set the correct font for the react-selectize fields
.react-selectize.root-node {
  width: 100% !important;
}

.profil-town-div {
  padding-left: 10px;
}

.profil-town {
  width: 100% !important;
}

.profilform {
  .react-selectize-placeholder {
    font-size: 16px;
    font-family: $font-stack;
    line-height: 1.42857143;
  }
}

.memberaddsubscription {
  .react-selectize-placeholder {
    font-size: 16px;
    font-family: $font-stack;
    line-height: 1.42857143;
  }
}

.profilform {
  font-size: 16px;
  font-family: $font-stack;
  line-height: 1.42857143;
}

.has-error .form-control {
  border-color: #d9534f;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

.has-error-value {
  color: #d9534f;
}

.has-error .form-control {
  .react-selectize-control {
    border-color: #d9534f !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  }
}

/* login */

.login-div {
  background-color: #eee;
  padding-top: 50px;
}

.carousel {
  margin-top: 15%;
  width: 630px;
  height: 400px;
}

.carousel-image {
  max-width: 330px;
  max-height: 330px;
}

.carousel-control {
  background-image: none !important;
}

.carousel-control span {
  color: #C8C3B9;
}

.carousel-indicators li {
  border: 1px solid #C8C3B9;
}

.carousel-indicators .active {
  background-color: #C8C3B9;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 25px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.bdc-login-row {
  margin-bottom: 5px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus { z-index: 2; }

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.links-login {
  margin-left: 25px;
  margin-top: 20px;
}

.links-login {
  .row {
    margin-top: 10px;
  }
}

/* profil */

.profil-span {
  padding-top: 11px;
}

.profil-div-margin-left {
  margin-left: 50px;
}

.member-status-text {
  margin-right: 5px;
}

.profil-panel {
  border: 0px;
}

.profil-panel {
  label {
    text-align: right;
  }
}

.member-status-text {
  margin-right: 5px;
}

.member-status-date {
  font-size: 15px;
}

.font-member-status {
  font-size: 20px;
  vertical-align: middle;
}

.member-status-ok {
  color: #21a31f;
  vertical-align: -1px;
  margin-right: 5px;
}

.member-status-nok {
  color: #e74c3c;
  vertical-align: -2px;
  margin-right: 5px;
}

.profil-status {
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  vertical-align: middle;
}

/* search members */

.search-no-results {
  margin-top: 30px;
  position: relative;
  font-style: italic;
  color: #BDBDBD;
}

.react-bs-container-body {
  td {
    cursor: pointer;
  }
}

/* BDCSearch */
// WARNING, these UGLY hacks are used to float left the search field in react-bootstrap-table
.react-bs-table-tool-bar {
  .col-xs-12.col-sm-6.col-md-6.col-lg-8 {
    display: none;
  }
}
.react-bs-table-tool-bar {
  .col-xs-12.col-sm-6.col-md-6.col-lg-4 {
    padding-left: 5px;
  }
}

.react-bs-table-search-form {
  input {
    height: 40px !important;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 15px !important;
  }
 }

/* manager/history */

.amount-history-label {
  margin-bottom: 0;
  padding-top: 11px;
  font-weight: bold;
}

.solde-history-label {
  text-align: right;
  margin-bottom: 0;
  padding-top: 11px;
  font-weight: bold;
}

.solde-history-span {
  font-weight: normal;
}

.react-selectize-manager-history {
  background-color: white;
}

.memberhistorical {
  .simple-select {
    background-color: white;
  }
}

.react-bs-table-list-bdc {
  margin-top: 20px !important;
  margin-right: 10px !important;
  margin-left: 0px !important;
  margin-bottom: 0px !important;
}

.react-bs-table-account-history {
  .react-bs-table-no-data {
    font-style: oblique;
  }
}

.line-break {
  white-space: pre-wrap !important;
}

/* cash-deposit  */

.cash-deposit-amount-div {
  padding-top: 11px;
}

/* bank-deposit  */

.deposit-amount-div {
  padding-top: 20px;
}

.alert-deposit-amount-difference {
  margin-bottom: 0px;
}

/* divers */

.text-align-left {
  text-align: left !important;
}

.hidden {
  display: none;
}

.show-dropdown-menu {
  visibility: visible;
  display: block;
}

.search-group {
  background-color: #f9f9f9;
  border: 0.1em #d9d9d9 solid;
  margin-right: 15px;
  margin-left: -3px;
}

.search-solde-group {
  margin-bottom: 50px;
}

.no-bottom-space {
  margin-bottom: 0px;
}

.margin-R10 {
  margin-left:-10px;
  margin-right: 10px;
}

.accountchoice {
  marginLeft: 10;
  verticalAlign: middle;
  white-space: pre-wrap;
}

.grey-back{
  background: #ecf0f1
}

/* cotisation */
.form-horizontal .radio {
  padding-top: 0;
}
